.md-typeset h1 {
    color: #000000;
}

.md-typeset h2 {
    color: #000000;
}

.md-typeset h3 {
    color: #000000;
}

.md-typeset h4 {
    color: #000000;
}

.md-typeset h5 {
    color: #000000;
}

.md-typeset h6 {
    color: #000000;
}
